<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="http://localhost:5000/css/bootstrap.min.css" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
      corporis fugiat sit reprehenderit in perspiciatis excepturi voluptatibus
      quos laborum quibusdam, dolor tempora, ex temporibus repudiandae?
      Consequuntur veniam quis aspernatur repellendus.
    </h1>

    <div class="row">
      <% phones.map((phone)=>{ %>
      <div class="col-md-4">
        <h3><%= phone.name %></h3>
        <h3><%= phone.type %></h3>
        <img class="img-fluid" src="<%= phone.url %>" alt="..phone image" />"
        <p><%= phone.description %></p>
      </div>
      <% }) %>
    </div>
  </body>
</html>
