<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head.ejs')%>
  <body>
    <%- include('../includes/navbar.ejs')%>
    <h1 class="text-center">Edit Product</h1>
    <div class="container">
      <form action="/product/edit?_method=PATCH" method="POST">
        <input type="hidden" name="productId" value="<%=product._id%>" />
        <input
          type="text"
          value="<%= product.title%>"
          name="title"
          class="form-control"
        />

        <textarea
          name="description"
          id=""
          cols="30"
          rows="10"
          class="form-control"
        >
        <%= product.description %> 
    </textarea
        >

        <input type="submit" value="create" />
      </form>
    </div>
  </body>
</html>
