<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head.ejs')%>
  <body>
    <%- include('../includes/navbar.ejs')%>
    <h1 class="text-center">Product List</h1>

    <ul>
      <% products.map((product)=>{ %>

      <li>
        <a href="<%= server_url%>product/<%= product._id  %> "
          ><%= product.title%></a
        >
      </li>

      <% }) %>
    </ul>
  </body>
</html>
